.lending-box{
    display: flex;
    gap: 10px;
}
.lending-btn{
    padding: 5px 3em;
    background: royalblue;
    color: white;
    border-radius: 2px;
}

.lending-btn:hover{
    background: rgba(65, 105, 225, 0.501);
    color: black;
}